.field {
  display: none;
  margin: 20px 0;
}

#canvas {
  border: 3px solid black;
}

.button-field {
  margin-bottom: 20px;
}

.button-field button {
  margin-right: 25px;
}

.button-field button:last-child {
  margin-right: 0;
}